# VMWare datacenter checks

[% DEFAULT notifytime = '24x7' %]
[% DEFAULT contactgroups = 'vmware-admins' %]
[% DEFAULT servicegroup = 'vmware' %]
[% SET freshness = config.global.frequency * 2 %]
[% SET attempts = 1 %]

define host {
    host_name               [% name %]
    alias                   VMware Datacenter [% this.name %]
    address                 127.0.0.1
    max_check_attempts      1
    check_period            24x7
    check_command           unknown!Check vmware agent
  [% IF contactgroups %]
    contact_groups          [% contactgroups %]
  [% END %]
    notifications_enabled   1
    process_perf_data       0
    retain_status_information   0
    notification_period     24x7
    notification_interval   120
    check_interval          60
    active_checks_enabled   0
    passive_checks_enabled  1
    check_freshness         1
    freshness_threshold     [% freshness %]
    hostgroups              vmware,vmware_dc
  [% IF config.nagios.pnp_host_action_url %]
    action_url              [% config.nagios.pnp_host_action_url %]
  [% ELSE %]
[% IF moid %]
        action_url       https://[% virtualcentre %]/mob/?moid=[% moid %]
[% END %]
  [% END %]
[% IF config.mrtg.routers2_url %]
		notes_url  [% config.mrtg.routers2_url %]?cfg=.vmware/dc/[% name %].cfg
[% END %]
        icon_image      vmware.gif
        icon_image_alt  VMWare ESX

}

[% BLOCK common %]
    host_name              [% name %]
    check_command          unknown!Check vmware agent
    notifications_enabled  1
    notification_interval  120
    is_volatile            0
    check_period           24x7
    normal_check_interval  10
    retry_check_interval   5
    max_check_attempts     [% attempts %]
    check_freshness        1
    freshness_threshold    [% freshness %]
    active_checks_enabled  0
    passive_checks_enabled 1
    flap_detection_enabled 0
    notification_options   w,c,r
  [% IF servicegroup %]
    servicegroups          [% servicegroup %]
  [% END %]
  [% IF contactgroups %]
    contact_groups         [% contactgroups %]
  [% END %] 
  [% IF notifytime %]
    notification_period    [% notifytime %]
  [% END %] 
[% END %]

[% BLOCK pnp %]
  [% IF config.nagios.pnp_host_action_url %]
    action_url              [% config.nagios.pnp_svc_action_url %]
  [% END %]
[% END %]

# Check host/cluster/datacenter status
define service {
    service_description  [% servicedesc.datacenters.alarms %]
    [% INCLUDE common %]
}

# Datastore details
[% IF config.datacenters.datastores %]
  [% FOREACH ds IN datastores %]
define service {
    service_description  [% servicedesc.datacenters.datastore %]: [% ds %]
    [% INCLUDE common %]
    [% INCLUDE pnp %]
}
  [% END %]
[% END %]

